<table>
    <tr>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "lblCodigo";
                settings.Text = "Código:";
                settings.AssociatedControlName = "txtCodigo";
            }).GetHtml()
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "txtCodigo";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "lblNombre";
                settings.Text = "Nombre:";
                settings.AssociatedControlName = "txtNombre";
            }).GetHtml()
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "txtNombre";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "lblRazonSocial";
                settings.Text = "Razón social:";
                settings.AssociatedControlName = "txtRazonSocial";
            }).GetHtml()
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "txtRazonSocial";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "lblRfc";
                settings.Text = "R.F.C.:";
                settings.AssociatedControlName = "txtRfc";
            }).GetHtml()
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "txtRfc";
            }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "lblTelefono";
                settings.Text = "Telefono:";
                settings.AssociatedControlName = "txtTelefono";
            }).GetHtml()
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "txtTelefono";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "lblCalle";
                settings.Text = "Calle:";
                settings.AssociatedControlName = "txtCalle";
            }).GetHtml()
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "txtCalle";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "lblNoExterior";
                settings.Text = "No. exterior:";
                settings.AssociatedControlName = "txtNoExterior";
            }).GetHtml()
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "txtNoExterior";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "lblNoInterior";
                settings.Text = "No. interior:";
                settings.AssociatedControlName = "txtNoInterior";
            }).GetHtml()
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "txtNoInterior";
            }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "lblColonia";
                settings.Text = "Colonia:";
                settings.AssociatedControlName = "txtColonia";
            }).GetHtml()
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "txtColonia";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "lblCodigoPostal";
                settings.Text = "Cod. postal:";
                settings.AssociatedControlName = "txtCodigoPostal";
            }).GetHtml()
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "txtCodigoPostal";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "lblReferencia";
                settings.Text = "Referencia:";
                settings.AssociatedControlName = "txtReferencia";
            }).GetHtml()
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "txtReferencia";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "lblCiudad";
                settings.Text = "Ciudad:";
                settings.AssociatedControlName = "txtCiudad";
            }).GetHtml()
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "txtCiudad";
            }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "lblEstado";
                settings.Text = "Estado:";
                settings.AssociatedControlName = "txtEstado";
            }).GetHtml()
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "txtEstado";
            }).GetHtml()
        </td>
    </tr>
</table>














