@{
    ViewBag.Title = "Reporte de ventas de producto";
}

<h2>Reporte ventas por producto</h2>

@using (Html.BeginForm("ExportTo", "ReporteVentasProducto"))
{
    <table>
        <tr>
            <td>
                @Html.DevExpress().ComboBox(settings =>
                {
                    settings.Name = "SucursalId";
                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                    settings.Properties.ValueField = "Id";
                    settings.Properties.TextField = "Nombre";
                    settings.Properties.NullText = "Sucursal que realizo las ventas";
                }).BindList(new AIPos.BusinessLayer.BOSucursal().SelectAll()).GetHtml()
            </td>
            <td>
                @Html.DevExpress().Button(settings =>
               {
                   settings.Name = "btnConsultar";
                   settings.Text = "Consultar";
                   settings.UseSubmitBehavior = false;
                   settings.ClientSideEvents.Click = " function(s,e){ GridViewVentasProducto.PerformCallback(); } ";
               }).GetHtml()
            </td>
        </tr>
    </table>
    <div style="margin-top:15px; margin-bottom:15px;">
        @foreach (string typeName in AIPos.WebLayer.Helpers.GridViewExportHelper.ExportTypes.Keys)
        {
            <button class="btn btn-sm btn-success" type="submit" name="@typeName">@AIPos.WebLayer.Helpers.GridViewExportHelper.ExportTypes[typeName].Title</button>
            <text>&nbsp;</text>
        }
    </div>
}

@Html.Action("GridViewPartialVentasProducto")