<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.All, Theme="SoftOrange" }
    )

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jqueryui")*@
    @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
    @Html.DevExpress().GetScripts( 
        new Script { ExtensionSuite = ExtensionSuite.All }
    )
    <script type="text/javascript">
        $(function () {
            if ($.browser.msie && $.browser.version.substr(0, 1) < 7) {
                $('li').has('ul').mouseover(function () {
                    $(this).children('ul').show();
                }).mouseout(function () {
                    $(this).children('ul').hide();
                })
            }
        });
    </script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("San agustin", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        { 
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catálogos<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="~/CatalogoUnidades/">Unidades de medida</a></li>
                                    <li><a href="~/CatalogoTipos/">Tipos de producto</a></li>
                                    <li><a href="~/CatalogoSucursales/">Sucursales</a></li>
                                    <li><a href="~/CatalogoProductos/">Productos</a></li>
                                    <li><a href="~/CatalogoClientes/">Clientes</a></li>
                                    <li><a href="~/CatalogoProveedores/">Proveedores</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lista precios<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="~/ListasPrecio/">Catalogo listas</a></li>
                                    <li><a href="~/ListasPrecio/ListaPreciosProductos">Asignar precios a listas</a></li>
                                    <li><a href="~/ListasPrecio/AsignarListaPrecioSucursal">Asignar sucursales a lista</a></li>
                                    <li><a href="~/ListasPrecio/AsignarListaPrecioCliente">Asignar clientes a lista</a></li>
                                </ul>
                            </li>
                            int NivelId = new AIPos.BusinessLayer.BOUsuario().SelectByUsername(User.Identity.Name).NivelId;
                            if (NivelId == 2 || NivelId == 3)
                            { 
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="~/AdministracionSeguridad/">Catálogo usuarios</a></li>
                                        <li><a href="~/AdministracionSeguridad/UsuarioSucursales">Asignar sucursales a uuarios</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movimientos<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="~/Cancelaciones/">Cancelar tickets</a></li>     
                                        <li><a href="~/VentasFacturar/">Ventas para facturar</a></li>                                    
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="~/ReporteCorteCaja/">Corte de caja</a></li>
                                        <li><a href="~/HistorialCorteCaja/">Historico de cortes de caja</a></li>
                                        <li><a href="~/RetirosDinero/Reporte">Retiros de dinero</a></li>
                                        <li><a href="~/ReporteVentasProducto/">Ventas por producto</a></li>
                                        <li><a href="~/ReportePedidosSucursal/">Pedidos de sucursales</a></li>
                                        <li><a href="~/ReporteEntradas/">Entradas en sucursales</a></li>
                                        <li><a href="~/ReporteInventarios/">Inventarios en sucursales</a></li>
                                    </ul>
                                </li>
                            }
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Instaladores<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">                                    
                                    <li><a href="http://downloads.businessobjects.com/akdlm/crnetruntime/clickonce/CRRuntime_32bit_13_0_9.msi">Crystal report</a></li>
                                    <li><a href="http://sanagustinupdates.azurewebsites.net/publish.htm">AIPos Desk</a></li>
                                </ul>
                            </li>                            
                        }
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content" style="padding-top:100px;">
            @RenderBody()
            <hr />
            @*<footer>
                <div class="content-wrapper">
                    <div class="float-left">
                        <p>&copy; @DateTime.Now.Year - Distribuidora San Agustin</p>
                    </div>
                </div>
            </footer>*@
        </div>  
        @RenderSection("scripts", required: false)
    </body>
</html>
